

.navbar-nav li{
    padding-right: 30px;
}
  
.nav-link {
    font-size: 1.5em !important;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background: url(bg2.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
}

h3 {
    font-size: 1s0px;
    color: #000000;
    padding-top: 20px; 
}

.btn-secondary {
    background-color: #B22222;
    /* border: 1px solid #000; */
    font-size: 70%;
  }
  
.btn-primary {
    background-color: grey;
    border: 1px solid grey;
    font-size: 70%;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; 
  }
  
img {
    border-radius: 5px 5px 0 0;
}

.container {
    padding: 2px 16px;
}

.btn-dark {
    border: 1px solid grey;
}


.dropdownMenuButton {
    padding: 14px 100px;
}